.btn-section {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}
.mode_btn {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
}
.section_presentation {
  height: 90vh;
}
.presentation {
  max-width: 585px;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.presentation img {
  width: 156px;
}
.section {
  padding: 15px 0px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}
.container_projeto {
  width: 100%;
  min-height: 233px;
  border: #e8e8e8 1px solid;
  border-radius: 10px;
}
.projects {
  flex-direction: column;
  gap: 15px;
}
.botao_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_github {
  padding: 5px 10px;
  background-color: white;
  border: 3px solid black;
  border-radius: 30px;
  gap: 10px;
  margin-top: 15px;
}
.btn_github:hover {
  background-color: #8a64f3;
}
.container_skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  width: fit-content;
  height: 35px;
  padding: 0px 10px;
  border-radius: 30px;
  background-color: black;
  font-family: "Fredoka", sans-serif;
  color: white;
}
.link_contact {
  display: flex;
  gap: 10px;
}
.link_contact p {
  color: black;
}
.link_contact p:hover {
  color: #8a64f3;
}
footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px;
}
footer img {
  width: auto;
  height: 40px;
}
/* media queries */
@media screen and (min-width: 650px) {
  .container_skills {
    justify-content: center;
  }
  .container_projeto {
    height: 300px;
  }
}
@media screen and (min-width: 900px) {
  .section {
    width: 100%;
    margin: auto;
  }
  .item {
    height: 30px;
    font-size: 13.5px;
  }
  .projects {
    flex-direction: row;
  }
  .container_projeto {
    width: 33%;
    height: 200px;
  }
  .botao_container,
  footer {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 70%;
  }
}
